@use "base";
@use "utilities";

.page {
  display: grid;
  grid-template-rows: 1.25rem 1fr 1.25rem;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 5rem;
  gap: 4rem;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row-start: 2;
}

.default-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #1db954;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
