@use "@/sass/utilities" as *;

.login-button {
  @include auth-button;

  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
