.header {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 31.25em) 1fr;
  align-items: center;
  // max-width: 75em;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;

  &__logo {
    color: var(--white);
    height: 2.5rem;
    max-width: 8.1875rem;
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.625rem;

    &:hover {
      cursor: pointer;
    }

    &--link {
      width: max-content;
    }
  }

  &__navbar {
    justify-self: end;
  }

  @media (max-width: 48em) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;

    align-items: center;
    padding: 0.625rem;
    text-align: center;

    &__logo--link {
      width: max-content;
    }

    &__logo--link,
    &__navbar {
      grid-row: 1/2;
    }
    &__search {
      max-width: 31.25em; // Maximum width same as desktop
      grid-column: 1/-1;
    }
  }
}
