.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 75em;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;

  &__logo {
    color: var(--white);
    height: 2.5rem;
    max-width: 8.1875rem;
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.625rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__search {
    justify-self: center;
  }

  &__navbar {
    justify-self: end;
  }

  @media (max-width: 48em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 0.625rem;
    text-align: center;

    &__logo,
    &__navbar {
      justify-self: center;
    }
  }
}
