@use "@/sass/base" as *;

@mixin auth-button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-weight: bold;
  border-radius: 1.5625rem;
  transition: background-color 0.25s ease;

  &:active {
    transform: scale(0.95);
  }
}

@mixin profile-pic {
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;

  background: {
    size: cover;
    position: center;
  }

  &:hover {
    filter: brightness(1.2);
  }

  &.border {
    border: 2px solid $white;
  }
}
